/* General styles */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f0f8ff;
}

/* Header styles */
header {
    background-color: #2a4d69;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
}

header .profile {
    width: 100px;
    border-radius: 50%;
}

header h1 {
    margin: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a.active {
    text-decoration: underline;
}

/* Main styles */
main {
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

section {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section h2 {
    background-color: #2a4d69;
    color: white;
    
}
section img {
    width: 100%;
    border-radius: 8px;
}

.filter-button {
    margin-bottom: 15px;
}

.filter-button button {
    margin-right: 10px;
    padding: 10px 15px;
    background-color: #2a4d69;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.filter-button button:hover {
    background-color: #41729f;
}

/* Footer styles */
footer {
    background-color: #2a4d69;
    color: #fff;
    text-align: center;
    padding: 15px;
}

/* Responsive design styles */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.hamburger span {
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 10px;
}

.nav-menu {
    display: flex;
    flex-direction: row;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: #2a4d69;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-menu li {
        margin: 10px 0;
    }
}